<div class="row event">
    <div class="col-md-3"></div>
    <div class="col-md-8"><a class="eventName" href="">Meditation and Discussion</a></div>
</div>
<div class="row entry">
    <div class="col-md-3"></div>
    <div class="col-md-5">Come find calm and discuss and connect with others over food</div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-2">Mon: 2pm - 7pm</div>
    <div class="col-md-2"><button>See Map</button></div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-2"><a id="womens" class="organization" href="Organization/organization.html">Cambridge Women's Center</a></div>
    <div class="col-md-2">617-555-5555</div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-4">539 Massachusetts Avenue, Cambridge, MA, 02319</div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-4">Skills Needed: Listening</div>
</div>

            
<div class="row event">
    <div class="col-md-3"></div>
    <div class="col-md-8"><a class="eventName" href="">Soup Kitchen Cooking</a></div>
</div>
<div class="row entry">
    <div class="col-md-3"></div>
    <div class="col-md-5">Help provide food for homeless women.</div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-2">Tues: 10am - 12pm</div>
    <div class="col-md-2"><button>See Map</button></div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-2"><a id="womens" class="organization" href="Organization/organization.html">Cambridge Women's Center</a></div>
    <div class="col-md-2">617-555-5555</div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-4">539 Massachusetts Avenue, Cambridge, MA, 02319</div>
</div>
<div class="row entry">
    <div class="col-md-4"></div>
    <div class="col-md-4">Skills Needed: Cooking</div>
</div>