html {
    background-color: #888888;
}

.title{
    text-align: center;
    background-color: #00C0C0;
    padding: 18px;
    margin: 0px;
    border: 0px;
    font: italic 32px sans-serif;
    color: #006060;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

body{
  padding-top: 60px;
  padding-bottom: 20px;
}

#content{
    height: 100%;
}

#columns{
    width: 100%;
}

.column{
    width: 20%;
}

.middleColumn{
    width: 60%;
    align-self: center;
}

.navbar-brand{
    font: italic 16pt sans-serif;
}

.contentPage{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pageContainer{
    box-shadow: 10px 10px 5px #888888;
    background-color: white;
    overflow: hidden;
    height: 400px;
}

#searchBox{
    width: 75%;
}
