html {
    background-color: turquoise;
}

.title{
    text-align: center;
    background-color: #00C0C0;
    padding: 18px;
    margin: 0px;
    border: 0px;
    font: italic 32px sans-serif;
    color: #006060;
}

.pageContainer{
    box-shadow: 10px 10px 5px #888888;
    background-color: white;
    overflow: hidden;
}

#columns{
    width: 100%;
}

.column{
    width: 20%;
}

.middleColumn{
    width: 60%;
    align-self: center;
}

.contentPage{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#searchBox{
    width: 75%;
}
