html{
    background-color: #fff;
}

.banner{
    text-align: center;
    border-style: groove;
    border-color: black;
    background-color: #fff;
    color: black;
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    height: 50px;
}

.event{
    border-style: groove;
    border-color: black;
    border-top-width: 0px;
    margin-left: auto;
    margin-right: auto;
    
    width: 50%;
}

.eventName{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}
