html {
    background-color: #FDFCDC;
    
}

.banner{
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    height: 100px;
}

.event{
    border-style: solid;
    border-color: black;
    border-top-width: 0px;
    
    width: inherit;
}

.eventName{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}