.descriptor{
    font-weight: bold;
}

.event{
    margin-top:20px;
}

.entry{
    margin-top:5px;
}

.eventName{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.time{
    font-size:18px;
}

.datepicker {
    z-index: 1151 !important;
}
