.descriptor{
    font-weight: bold;
}

#roomLeft{
}

#map{
  margin-left: 50px; 
}

#banner{
    font-weight: bold;
  
}
#textColumn{
  width: 300px;
}

#others{
  width: 50px; 
}

.org{
    margin-top:-10px;
    margin-left: 20px;
}

.event{
    margin-top:20px;
}

.entry{
    margin-top:15px;
}

.eventName{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

body{
    height: 100%;
    /* background-color: #00C0C0; */
    padding-top: 60px;
    padding-bottom: 20px;
}